/* Feedback display CSS */
hr.divider
{
    background-color: #4388CC;
    height: 4px;
}
span.label_tips
{
    color: #666666;
}
span.error
{
    color: #ff0000;
}
input.styled_button
{
    border: 1px solid #888888;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 3px;
    padding: 2px;
    background-color: #3366ff;
    color: #ffffff;
}
.align_right
{
    float:right;
}
input.styled_button:hover
{
    cursor: pointer;
    background-color: #4775ff;
}
ul.feedback
{
    background-color: #ffffff;
    list-style:none;
    border: 0px;
    width: 97%;
    height: 180px;
    overflow: auto;
    padding: 5px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
}
ul.feedback li
{
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
    margin-bottom: 5px;
}
ul.feedback li:hover 
{
    background-color: #ffffff;
}
ul.feedback li p
{
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 140%;
}
ul.feedback li span.author
{
    font-weight: bold;
}
ul.feedback li span.time
{
    color: #006600;    
}
