/* Feedback display CSS */

span.label_tips
{
    color: #666666;
}
span.error
{
    color: #ff0000;
}
input.styled_button
{
    border: 1px solid #888888;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 3px;
    padding: 2px;
    background-color: #3366ff;
    color: #ffffff;
}
input.styled_button:hover
{
    cursor: pointer;
    background-color: #4775ff;
}
#submit_options
{
    margin: 0px;
    padding: 0px;
    width: 50px;
}
.feedback_container
{
    width: 455px;
    height: 100%;
    overflow: auto;
}
.feedback
{
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    width: 400px;
    padding: 10px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
}
.feedback:hover 
{
    background-color: #ffffff;
}
.feedback p
{
    margin: 0;
}
.feedback span.author
{
    font-weight: bold;
}
.feedback span.time
{
    color: #006600;    
}
