<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{PageTitle}</title>
    <meta name="description" content="Open Hamilton is dedicated to improving the lives of city residents by building powerful applications and working to lobby City Hall to open it's data.">
    <meta name="author" content="Open Hamilton Members">
    <meta name="viewport" content="width=900,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico"> 

    <link rel="stylesheet" href="./style.css" />
    <style>
        
        
        
    </style>
  </head>
  <body>
    <div class="body">
        <div>
          <img alt="Open Hamilton Logo" src="/openhamilton.png" width="450" height="88" class="logo"/>
        </div>
        <div class="nav">
          <hr/>
          <a href="/">Home</a>
          <a href="/Data">View Data</a>
          <a href="/Apps">Apps</a>
          <a href="/Contact">Contact us</a>
          <hr/>
        </div>
        <div class="content">
            <div class="left">
                {InfoPanel}
            </div>
            <div class="right">
                <div>
                  <h2>Data</h2>
                  <p>Image for data.</p>
                </div>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="nav">
            <hr/>
        </div>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11626422-7']);
  _gaq.push(['_setDomainName', '.openhamilton.ca']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>